# Artifacts
/Artifacts/

# Environment
environment.json

# Log files
*.log

# Python
__pycache__/

# Python virtual environment
.venv/

# Unity
/UnityClient/Library/
/UnityClient/Logs/
/UnityClient/obj/
/UnityClient/Temp/
/UnityClient/*.csproj
/UnityClient/*.sln

# Visual Studio
.vs/

# Visual Studio Code
.vscode/
